@font-face {
  font-family: "julee";
  src: url(Julee-Regular.ttf);
}

body {
  
  background: url(../MEDIA/BG.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

